#title{
    color: aquamarine;
    border-radius: 10px;
}
.roboto-mono-#title{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
#paragragh{
    color: aqua;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
}
#h3{
    color: purple;
    border-radius: 10px;
}
#art_button1{
    color: aqua;
    background-color: darkslateblue;
    width: 100px;
    font-size: large;
    font-weight:bold ;
}